.container {
    display: flex;
    margin: 0 auto;
    background-color: #010608;
    background-size: 20px 20px;
    border-bottom: 1px solid #00ffff3a;
    
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

a {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    animation: brilhoSuave 1s infinite alternate;
}

  @keyframes brilhoSuave {
    from {
      text-shadow: 0 0 4px #00ffff;
    }
    to {
      text-shadow: 0 0 12px #00ffff;
    }
  }

.navbar {
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 10px;
    @media (max-width: 768px) {
      padding-left: 0px;
    }
}