.sigilometro-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header{
    text-align: center;
  }
  
  .vereador-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding-bottom: 16px;
    
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 1280px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  