<div class="background-estaiada">
<div class="sigilometro-container">
  <div class="header">
    <h1><span class="letraAzul">Sigil</span><span class="letraAmarela">ômetro</span></h1>
    <p class="subtitle">
      Descubra a quantidade de requerimentos rejeitados por cada vereador
    </p>
  </div>
    
  <div class="chart-container">
    <div class="informacoes-gerais">
      <div class="subtitle">Visão Geral dos Requerimentos</div>
      <div class="subtitle">
        Total de requerimentos: {{ qtdRequerimentosAceitos + qtdRequerimentosRejeitados }}
        ({{ qtdRequerimentosRejeitados }} rejetados, {{ qtdRequerimentosAceitos }} aceitos)
      </div>
    </div>
      
    <div>
      <ngx-charts-pie-chart
        [results]="chartData"
        [legend]="true"
        [legendPosition]="legendPosition"
        [doughnut]="true"
        [legendTitle]="'Legenda'"
        [customColors]="coresGrafico">
      </ngx-charts-pie-chart>
    </div>
  </div>
    
  <h2 class="subtitle">Vereadores - Votações de requerimentos de informação
  <span class="info-icon">
    ?
    <span class="custom-tooltip">
      Aqui você consegue ter acesso ao número de requerimentos de informações votados na câmara.
<br><br>
Mas o que é um requerimento de informação? 
O requerimento nada mais é do que um pedido de informação proposto por um vereador para obter dados sobre: obras atrasadas, fila para procedimentos médicos, defasagem de professores, entre outros.
<br><br>
Por que achamos importante trazer esse dado?
Devido ao alto número de requerimentos negados entendemos que o acesso à informação não é uma prioridade para a câmara de São José dos Campos.
<br><br>
Aqui estão as informações simplificadas de como as votações desse tópico estão sendo 
    </span>
  </span>
  </h2>
    
  <div class="vereador-grid">
    <app-vereador
      *ngFor="let vereador of vereadores" 
      [vereador]="vereador"
    ></app-vereador>
  </div>

  <h2 class="subtitle">Para ter mais detalhes das votações dos parlamentares, acesse: <a href="https://camarasempapel.camarasjc.sp.gov.br/spl/sessoes.aspx" target="_blank">Pauta das Sessões</a></h2>
</div>
</div>