<div class="app-container">
<div class="sigilometro-container">
  <div class="header">
    <h1><span class="letraAzul">Sigil</span><span class="letraAmarela">ômetro</span></h1>
    <p class="subtitle">
      Descubra a quantidade de requerimentos rejeitados por cada vereador
    </p>
  </div>
    
  <div class="chart-container">
    <div class="informacoes-gerais">
      <div class="subtitle">Visão Geral dos Requerimentos</div>
      <div class="subtitle">
        Total de requerimentos: {{ qtdRequerimentosAceitos + qtdRequerimentosRejeitados }}
        ({{ qtdRequerimentosRejeitados }} rejetados, {{ qtdRequerimentosAceitos }} aceitos)
      </div>
    </div>
      
    <div>
      <ngx-charts-pie-chart
        [results]="chartData"
        [legend]="true"
        [legendPosition]="legendPosition"
        [doughnut]="true"
        [legendTitle]="'Legenda'"
        [customColors]="coresGrafico">
      </ngx-charts-pie-chart>
    </div>
  </div>
    
  <h2 class="subtitle">Vereadores</h2>
    
  <div class="vereador-grid">
    <app-vereador
      *ngFor="let vereador of vereadores" 
      [vereador]="vereador"
    ></app-vereador>
  </div>
</div>
</div>