<div class="chart-container">
    <div class="image-container">
      <img [src]="vereador.ImagemUrl" [alt]="vereador.Nome" class="vereador-image">
    </div>
    
    <div class="center">
      <div>{{ vereador.Nome }}</div>
      <div>
        <div>{{ vereador.Partido }}</div>
        <div class="blocked-count letraAmarela">
          {{ vereador.QuantidadeRequerimentosRejeitados }} {{ vereador.QuantidadeRequerimentosRejeitados === 1 ? 'voto contra' : 'votos contras' }}
        </div>
        <div class="blocked-count letraAzul">
          {{ vereador.QuantidadeRequerimentosAceitos }} {{ vereador.QuantidadeRequerimentosAceitos === 1 ? 'voto favorável' : 'votos favoráveis' }}
        </div>
      </div>
    </div>
  </div>
  