<div>
  <h3>Acesse o Promessômetro</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="divisao">
      <div class="divlabel">
        <label for="email">E-mail:</label>
      </div>
      <input type="text" id="email" placeholder="email@gmail.com" formControlName="email" />
    </div>
    <div class="divisao">
      <div class="divlabel">
        <label for="senha">Senha:</label>
      </div>
      <input type="password" id="senha" placeholder="******" formControlName="senha"/>
    </div>
    <div class="divisao">
      <button type="submit">Login</button>
    </div>
    <p *ngIf="message">{{ message }}</p>
  </form>
</div>