<div class="background-estaiada">
    <div class="container">
      <div class="promessometro-container">
        <div class="header">
          <h1><span class="letraAzul">Promess</span><span class="letraAmarela">ômetro</span></h1>
          <p>Acompanhe a política de São José dos Campos.</p>
          <div class="gradient-separator"></div>
        </div>
  
        <div class="promises-list">
          <app-promessa
            *ngFor="let promessa of promessas" 
            [promessa]="promessa"
          ></app-promessa>
        </div>
          <h2 class="subtitle">Para avaliar as propostas da última gestão da prefeitura de forma mais detalhada, acesse: <a href="assets/plano-de-governo.pdf" target="_blank">Plano de Governo</a></h2>
      </div>
    </div>
</div>